<div class="container mt-5">
  <h2>Registrazione</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        formControlName="nome"
        required
      />
      <div
        *ngIf="
          registerForm.get('nome')!.touched && registerForm.get('nome')!.invalid
        "
        class="text-danger"
      >
        Nome è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="cognome">Cognome</label>
      <input
        type="text"
        class="form-control"
        id="cognome"
        formControlName="cognome"
        required
      />
      <div
        *ngIf="
          registerForm.get('cognome')!.touched &&
          registerForm.get('cognome')!.invalid
        "
        class="text-danger"
      >
        Cognome è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        required
      />
      <div
        *ngIf="
          registerForm.get('username')!.touched &&
          registerForm.get('username')!.invalid
        "
        class="text-danger"
      >
        Username è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
      <div
        *ngIf="
          registerForm.get('password')!.touched &&
          registerForm.get('password')!.invalid
        "
        class="text-danger"
      >
        Password è obbligatorio e deve essere di almeno 6 caratteri.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Conferma Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        required
      />
      <div
        *ngIf="
          registerForm.get('confirmPassword')!.touched &&
          registerForm.get('confirmPassword')!.invalid
        "
        class="text-danger"
      >
        Conferma Password è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="genere">Genere</label>
      <select
        class="form-control"
        id="genere"
        formControlName="genere"
        required
      >
        <option value="">Seleziona...</option>
        <option value="Maschile">Maschile</option>
        <option value="Femminile">Femminile</option>
        <option value="Altro">Altro</option>
      </select>
      <div
        *ngIf="
          registerForm.get('genere')!.touched &&
          registerForm.get('genere')!.invalid
        "
        class="text-danger"
      >
        Genere è obbligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="immagineProfilo">Immagine Profilo</label>
      <input
        type="file"
        class="form-control-file"
        id="immagineProfilo"
        (change)="onFileChange($event)"
      />
    </div>
    <div class="form-group">
      <label for="biografia">Biografia</label>
      <textarea
        class="form-control"
        id="biografia"
        formControlName="biografia"
        rows="3"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registerForm.valid"
    >
      Registrati
    </button>
  </form>
</div>
