body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    padding: 0;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Fai in modo che il contenitore occupi l'intera larghezza */
    max-width: 800px; /* Limita la larghezza del contenitore per evitare che diventi troppo largo */
    margin-top: 2rem;
}

.left, .right {
    flex: 1; /* Dividi lo spazio disponibile in parti uguali tra i titoli */
    text-align: center; /* Allinea il testo al centro */
}

canvas {
    flex: 1; /* Il canvas occupa lo stesso spazio dei titoli */
}

#logo {
    width: 6rem;
    height: auto;
}

h1.center {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

strong {
    margin-top: -1rem;
}

h2 {
    color: #d20094;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
}

p {
    margin-top: -1rem;
    text-align: center;
}

#button {
    background-color: transparent;
    font-size: 1rem;
    color: white;
    padding: 18px 58px;
    border: 3px solid white;
    cursor: pointer;
    
}

#button:hover {
    background-color: turquoise;
    box-shadow: 0 0 10px darkturquoise;
    transition-duration: 0.4s;
}
