body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#timer {
    font-size: 50px;
    font-family: Arial, sans-serif;
    margin: 0px;
}

.label {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0px;
}

#countdownCanvas {
    position:absolute;
    top: 2em;
    right: 3em;
    margin: 5px;
}

#timerContainer{
    position:absolute;
    top: 5.7em;
    right: 7.6em;
}