.album-info {
  position: relative; /* Aggiungiamo posizione relativa per contenere gli elementi figlio */
  background-size: 100% 130%;
}

.album-info::after {
  content: ""; /* Aggiungiamo un pseudo-elemento after */
  position: absolute; /* Posizioniamo in modo assoluto rispetto al contenitore .album-info */
  top: 100%; /* Spostiamo il gradiente sotto l'elemento .album-info */
  left: 0;
  width: 100%;
  height: 200px; /* Altezza del gradiente, modificalo a tuo piacimento */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212121 100%); /* Il tuo gradiente */
  z-index: -1; /* Portiamo il gradiente dietro gli altri elementi */
}

.album-info, .col-12, .text-content {
  background-color: transparent; /* Assicurati che i div interni abbiano sfondo trasparente */
}

.album-image {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .album-image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 80vw; /* Limita la larghezza massima a 400px */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra l'immagine */
    margin-top: 3em;
    margin-bottom: 2em;
    object-fit: cover;
  }
}

/* Lato sinistro */
html,
body {
  height: 100%;
  overflow: hidden;
}

#bg-first {
  background-color: black;
  height: 92vh;
  padding-right: 5px;
}

.grey-text {
  color: #a7a7a7;
}

.bg-btn {
  background-color: black !important;
}

.play-button {
  position: absolute;
  bottom: 42%;
  right: 2rem;
  background-color: #1db954;
  color: white;
  box-shadow: 0px 4px 7px rgb(61, 60, 60);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.carta:hover .play-button {
  opacity: 1;
  transform: translateY(0);
}

.play-button:hover {
  scale: 1.05;
}

.play-button:active {
  background-color: #168a3f;
}

.row a:hover {
  color: white;
  transition: 250ms;
}

.row a i:hover {
  color: white;
  transition: 250ms;
}

#plus {
  background-color: #a7a7a7;
  color: black;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #787878;
} /* STYLE COL DX  */

.d-flex h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

.justify-content-between h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #a7a7a7;
}

.mini {
  color: #a7a7a7;
  font-size: 0.8rem;
  font-weight: 400;
}

.amici {
  width: 35px;
}

#primaColonna {
  overflow-y: auto;
  height: 30rem;
}

#mainCard {
  background: linear-gradient(to bottom left, #212121 30%, black 70%);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.main-content {
  display: flex;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.small-text {
  font-size: 12px;
  margin: 0;
}

.top-right-text {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

#secondaColonna {
  overflow-y: auto;
  background-color: #212121;
  height: 100vh;
  padding-bottom: 20vh;
}

@media screen and (max-width: 768px) {
  #secondaColonna {
    height: 100vh;
  }
}

/** HOMEPAGE **/
.playlist-card {
  background-color: #2c2c2c;
  border-radius: 8px;
}
.playlist-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.playlist-title {
  font-size: 1rem;
  margin: 0;
}
.bg-playlist {
  background-color: #171717 !important;
  height: 100%;
}

/* CARD GENERATE CON JS */

.col-xl-3 .carta {
  background-color: #171717;
}

.col-xl-3 .carta:hover {
  background-color: transparent;
}

.card-body {
  padding-bottom: 0 !important;
}

.card-body .card-title {
  color: white;
}

.card-body .card-text {
  color: #909090;
}

.col-xl-3 .card {
  padding-bottom: 0 !important;
}

/***STYLE PLAYER*****/

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
  box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

.pointer {
  cursor: pointer;
}

.music-player {
  font-size: 14px;
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--primary-color);
}
i {
  color: var(--secondary-color);
}
i:hover {
  color: var(--primary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}
.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0.2em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
}
.artist {
  color: var(--secondary-color);
}
.icons {
  display: flex;
  gap: 1em;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: var(--secondary-color);
  margin-top: 0, 5rem;
}
.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}
.play-pause {
  display: inline-block;
  padding: 1em;
  background-color: var(--primary-color);
  color: #111;
  border-radius: 50%;
}
.play-pause:hover {
  transform: scale(1.1);
  color: #111;
}
.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4 !important;
}
.progress {
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
.progress-bar:hover .progress {
  background-color: var(--green-color);
}
.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}
.other-features {
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.volume-bar .progress-bar {
  width: 6em;
}
.volume-bar .progress-bar:hover .progress::after {
  --size: 0.8em;
}
.footer-mobile {
  display: none;
}
/***STYLE PLAYER*****/
@media (max-width: 768px) {
  .progress-controller,
  .volume-bar,
  .other-features {
    display: none; /* Hide elements not needed on mobile */
  }
  .footer-mobile {
    display: block;
    background-color: black;
    opacity: 0.7;
    padding-bottom: 0.7;
  }
  .song-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 63px;
    padding-left: 2vh;
  }

  .music-player {
    height: 9vh;
    margin-bottom: 0vh;
    width: 96%;
    margin-inline: auto;
    background-color: #282828;
  }
  .image-container {
    --size: -1.5em;
  }

  .image-container img {
    width: 50%;
    height: 50%;
    border-radius: 35%;
  }
  .song-infos {
    display: flex;
    flex: 1; /* Allows this div to grow and fill space */
    align-items: center;
  }

  .song-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; /* Space between image and text */
    flex: 1; /* Allow text area to grow */
    overflow: hidden; /* Prevents text from overflowing */
  }

  .title,
  .artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns icons to the right */
  }

  .far {
    margin-left: 10px; /* Space between icons */
    font-size: 18px; /* Smaller icon size for the play button */
  }

  .play-pause {
    display: inline-block !important; /* Ensure the play button is visible */
    margin-right: 10px;
  }

  .player-section {
    position: fixed;
    bottom: 10vh;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    margin: 0;
  }

  .footer-mobile {
    position: fixed;
    max-height: 10vh;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: #181818;
    padding: 10px 0; /* Adjust padding */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
  }

  .footer-mobile a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .footer-mobile i {
    font-size: 24px; /* Icon size */
  }
}

#basso {
  max-width: 100%;
  width: 55px;
}

#secondaColonna {
  overflow-x: hidden;
}
