<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let movie of movies">
    <div class="card">
      <img class="card-img-top" [src]="movie.posterUrl" alt="Movie Poster" />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <button
          class="btn btn-primary"
          (click)="addToFavorites(movie.id)"
          [disabled]="isFavorite(movie.id)"
        >
          {{ isFavorite(movie.id) ? "Added to Favorites" : "Add to Favorites" }}
        </button>
      </div>
    </div>
  </div>
</div>
