<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mb-4" *ngFor="let movie of movies">
      <div class="card h-100">
        <img class="card-img-top" [src]="movie.posterUrl" alt="Movie Poster" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <button
            class="btn mt-2"
            [class.btn-primary]="!isFavorite(movie.id)"
            [class.btn-danger]="isFavorite(movie.id)"
            (click)="addToFavorites(movie.id)"
          >
            {{
              isFavorite(movie.id) ? "Added to Favorites" : "Add to Favorites"
            }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
