/* You can add global styles to this file, and also import other style files */
body {
  background-color: aquamarine !important;
}

.card-img-top {
  height: 333px;
  object-fit: contain;
  margin-top: 2em;
}

