<div class="color-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let user of users">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                [src]="user.image"
                alt="Avatar"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  {{ user.firstName }} {{ user.lastName }}
                </h5>
                <div
                  class="mb-1"
                  *ngFor="let todo of getUserTodos(user.id)"
                  [ngStyle]="{
                    background: todo.completed
                      ? 'linear-gradient(to right, orange, gold)'
                      : 'linear-gradient(to bottom, blue, purple)',
                    color: todo.completed ? 'black' : 'white'
                  }"
                >
                  <input
                    class="px-3 ms-2"
                    type="checkbox"
                    [checked]="todo.completed"
                    (change)="updateTodoStatus(todo)"
                  />
                  {{ todo.todo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
