<div class="container">
  <h2 class="text-center mb-4">First Random Post</h2>
  <div *ngIf="firstPost" class="first-post mb-4">
    <h1>
      <a [routerLink]="['/post', firstPost.id]">{{ firstPost.title }}</a>
    </h1>
    <p>{{ firstPost.body }}</p>
  </div>

  <h2 class="text-center mb-4">Next Four Random Posts</h2>
  <div *ngIf="nextFourPosts.length > 0" class="row">
    <div class="col-lg-3" *ngFor="let post of nextFourPosts">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
          </h5>
          <p class="card-text">{{ post.body }}</p>
          <p class="card-text">
            <strong>Tags:</strong> {{ post.tags.join(", ") }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
