<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 100%; max-width: 400px">
    <h2 class="text-center mb-4">Register</h2>
    <form (ngSubmit)="register()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          [(ngModel)]="newUser.nome"
          name="username"
          id="username"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          [(ngModel)]="newUser.email"
          name="email"
          id="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          [(ngModel)]="newUser.password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
</div>
