/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


body {
  padding-top: 60px;
}

.fixed-bottom {
  background: #2f156d;
  border-top: 1px solid #ccc;
  text-align: center;
}
